<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <script defer src="https://code.jquery.com/jquery-3.1.0.js"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
  <!-- <script defer
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
  crossorigin="anonymous"></script> -->
</head>

<body>
  <% if (simul) { %>
    <h4 style="text-align:center">Mode simulation</h4>
  <% } %>
  <%- include('shows', {}) %>
</body>

<script>
function getJSON(url) {
  return new Promise((resolve, reject) => {
    ajax(url).then(res => {
      resolve(JSON.parse(res))
    }).catch(e => {
      reject(e)
    })
  })
}

function ajax(url) {
  var xhttp;
  xhttp = new XMLHttpRequest();
  return new Promise((resolve, reject) => {
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        resolve(this.responseText);
      } else if (this.readyState == 4) {
        reject(this);
      }
    };
    xhttp.open("GET", url, true);
    xhttp.send();
  })
}
</script>

</html>
